audioplayer==0.6
convertdate==2.4.1
lunardate==0.2.2
ntplib==0.4.0
packaging==26.0
psutil==7.2.2
pyluach==2.3.0
PyMeeus==0.5.12
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
pyqttoast-enhanced==2.0.0
python-dateutil==2.9.0.post0
pywin32==311
QtPy==2.4.3
ruff==0.15.5
six==1.17.0
titlecase==2.4.1
toml==0.10.2
tzdata==2025.3
workalendar==17.0.0
