altgraph==0.17.5
auto-py-to-exe==2.48.1
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
Eel==0.18.2
future==1.0.0
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.3.0
idna==3.11
importlib_resources==6.5.2
packaging==25.0
pefile==2024.8.26
pycparser==2.23
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pyparsing==3.2.5
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
pywin32==311
pywin32-ctypes==0.2.3
requests==2.32.5
ruff==0.14.7
setuptools==80.9.0
toml==0.10.2
typing_extensions==4.15.0
urllib3==2.6.0
zope.event==6.1
zope.interface==8.1.1
