altgraph==0.17.5
audioplayer==0.6
auto-py-to-exe==2.50.0
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
convertdate==2.4.1
Eel==0.18.2
future==1.0.0
gevent==26.4.0
gevent-websocket==0.10.1
greenlet==3.4.0
idna==3.11
importlib_resources==7.1.0
lunardate==0.2.2
ntplib==0.4.0
packaging==26.0
pefile==2024.8.26
psutil==7.2.2
pycparser==3.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pyluach==2.3.0
PyMeeus==0.5.12
pyparsing==3.3.2
PyQt6==6.11.0
PyQt6-Qt6==6.11.0
PyQt6_sip==13.11.1
pyqttoast-enhanced==2.0.0
python-dateutil==2.9.0.post0
pywin32==311
pywin32-ctypes==0.2.3
QtPy==2.4.3
requests==2.33.1
ruff==0.15.10
setuptools==82.0.1
six==1.17.0
titlecase==2.4.1
toml==0.10.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
workalendar==17.0.0
zope.event==6.1
zope.interface==8.3
